.box{
    display: flex;
    max-width: 1440;
    align-items: center;

*{
    max-width: 1440px;
    text-justify: auto;
    word-spacion: auto;
}
html{
    background-color: hsl(35, 94%, 93%);
    border-radius: 2%;
    max-width: 95%;
    padding: 2.5%;
    margin-left: auto;
}
body{
    margin: auto;
    padding: 2.5%;
    background-color: white;
    text-align: left;
}
h1, h2, h3{
    font-family: YoungSerif;
}
h1{
    font-size: 4.5rem;
    font-weight:400;
    text-align: left;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: hsl(332, 51%, 32%);
    margin-right: auto;
    font-size: 3rem;
}
p{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
p, li, table {
    font-family: Outfit;
    color: hsl(24, 5%, 18%);
    font-size: 1.5rem;
}
.Preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    line-height: 50px;
    margin: 0 auto;
    padding: 10px;

}
li::marker{
    color: hsl(331, 32%, 49%);
}
.Preparation h2{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}
.Preparation li{
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    list-style: square;
    list-style-position: inherit;
}
.Ingredients, .Instructions{
    line-height: 50px;
    border-bottom: 0.2px solid rgb(136, 135, 135);
    padding: 50px;
}
li{
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

img{
    border-radius: 50px;
    padding: 2.5%;
    }
 
.attribution{
    padding-top: 35px;
}

.Nutrition{
    padding: 2.5%;
}

.nutrition-item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
  }
  .item {
    padding-left: 35px;
    color: gray;
    width: 50%;
  }
  .value {
    font-weight: bold;
    color: #794737;
    width: 50%;
    }

img:hover{
    transform: scale(1.18)
}
